* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f9fc;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #34495e;
  color: white;
  padding: 1rem;
  text-align: center;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.todo-box {
  background-color: rgb(243, 219, 174);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 700px;
  height: 300px;
}

input[type="text"] {
  padding: 0.75rem;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #2980b9;
}

button::before,
button::after {
  content: "" !important;
}

ul {
  list-style: none;
  margin-top: 1rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.priority {
  margin-left: 1rem;
  font-size: 0.85rem;
  color: black;
}

.edit-btn {
  margin-left: 0.5rem;
  background-color: #f39c12;
  color: #fff;
}

.delete-btn {
  margin-left: 0.5rem;
  background-color: #e74c3c;
  color: #fff;
}

.filter-box {
  margin-top: 1rem;
}

@media (max-width: 480px) {
  input[type="text"] {
    width: 60%;
  }

  button {
    padding: 0.5rem;
  }
  .todo-box {
    padding: 1rem;
    height: auto;
  }
  li {
    flex-wrap: wrap;
  }

  li div {
    margin-top: 0.5rem;
  }
}

